[submodule "Tarkony-react-frontend"]
	path = Tarkony-react-frontend
	url = https://github.com/Sz-Daniel/Tarkony-react-frontend
[submodule "Tarkony-aspdotnet-backend"]
	path = Tarkony-aspdotnet-backend
	url = https://github.com/Sz-Daniel/Tarkony-aspdotnet-backend